<div class="about-fablab scrollable">
  <div class="row about-title">
    <div class="col-sm-4">
    </div>
      <div class="col-sm-4">
        <header class="about-picture">
        <h1 class="about-title text-u-c" ng-bind-html="aboutTitle.value"></h1>
      </header>
      </div>
    <div class="col-sm-4">
    </div>
  </div>

  <div class="row padder about-content">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">

      <h2>{{what_is_a_fablab.title}}</h2>
      <div ng-repeat="i in what_is_a_fablab.content">
        <p> {{ i }} </p>
      </div>
      <p>Pour plus d’informations, nous vous invitons à consulter <a href="http://www.fabfoundation.org/index.php/the-fab-charter/index.html">la charte des FabLabs</a></p>
      <%= image_tag("about/what_is_a_fablab.svg", class: 'm-r-sm img-responsive img-about') %>

      <h2>{{ fablab_chaux_de_fonds.title }}</h2>
      <div ng-repeat="i in fablab_chaux_de_fonds.content">
        <p> {{ i }} </p>
      </div>
      <%= image_tag("about/what_we_find_in_a_fablab.svg", class: 'm-r-sm img-responsive img-about') %>

      <h2>{{ how_to.title }}</h2>
      <div ng-repeat="i in how_to.content">
        <p> {{ i }} </p>
      </div>

      <div class="col-lg-6" style="min-height:60px;">
        <a href="{{ about.link }}" class="btn btn-lg btn-danger b-2x rounded m-t-xs ng-scope ng-binding home-banne-btn-desktop" >{{ about.text }}</a>
      </div>


    </div>

    <div class="col-sm-3 about-contact">
      <%= image_tag("fablab-logo-officiel.svg", class: 'm-r-sm about-logo') %>
      <a href="https://goo.gl/maps/oisq2KdYu8s">
        <%= image_tag("fablab-map.svg", class: 'm-r-sm about-logo') %>
      </a>
      <dl>
        <dt>Association</dt>
        <dd>
          Fablab La Chaux-de-Fonds</br>
          Rue de la Serre 68</br>
          2300 La Chaux-de-Fonds</br>
        </dd>
        <dt>Contact</dt>
        <dd>
          <a href="mailto:info@fablab-chaux-de-fonds.ch">info@fablab-chaux-de-fonds.ch</a>
        </dd>
      </dl>
      <!-- <h2 class="about-title-aside text-u-c" translate translate>{{ 'your_fablab_s_contacts' }}</h2>
      <span ng-bind-html="aboutContacts.value"></span> -->
    </div>
  </div>
</div>
