<div class="about-fablab scrollable">
  <div class="row about-title">
    <div class="col-sm-4">
    </div>
      <div class="col-sm-4">
        <header class="about-picture">
        <h1 class="about-title text-u-c" ng-bind-html="aboutTitle.value"></h1>
      </header>
      </div>
    <div class="col-sm-4">
    </div>
  </div>

  <div class="row padder about-content">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <span ng-bind-html="aboutBody.value"></span>
      <p ng-show="cgu">
        <a href="{{cgu.custom_asset_file_attributes.attachment_url}}" target="_blank" translate>{{ 'read_the_fablab_policy' }}</a>
      </p>
      <p ng-show="cgv">
        <a href="{{cgv.custom_asset_file_attributes.attachment_url}}" target="_blank" translate>{{ 'read_the_fablab_s_general_terms_and_conditions' }}</a>
      </p>
      <h2 class="infographie-title">Fonctionnement</h2>
      <%= image_tag("infographie.svg", class: 'm-r-sm infographie') %>
      <div class="infographie-footer">
        <p>Encore des questions ?</p>
        <p><a href="http://fab.cba.mit.edu/about/charter">Consultez la charte des FabLabs</a></p>
      </div>
    </div>

    <div class="col-sm-3 about-contact">
      <%= image_tag("fablab-logo-officiel.svg", class: 'm-r-sm about-logo') %>
      <h2 class="about-title-aside text-u-c" translate translate>{{ 'your_fablab_s_contacts' }}</h2>
      <span ng-bind-html="aboutContacts.value"></span>
    </div>
  </div>
</div>
