<section class="heading b-b">
  <div class="row no-gutter">
    <div class="col-xs-2 col-sm-2 col-md-1">
      <section class="heading-btn">
        <a href="#" ng-click="backPrevLocation($event)">
          <i class="fa fa-long-arrow-left "></i>
        </a>
      </section>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-8 b-l b-r-md hide-b-r-lg">
      <section class="heading-title">
        <h1>{{ 'support.support' | translate}}</h1>
      </section>
    </div>
  </div>
</section>

<section class="row no-gutter">
  <div class="wrapper-lg">
    <div class="col-md-2"></div>
    <div class="support-title col-md-8 col-xs-12">{{ data.title }}</div>
    <div class="col-md-2"></div>
  </div>
</section>

<section class="row no-gutter">
  <div class="wrapper-lg">
    <div ng-repeat="i in data.cards" class="col-md-3 col-xs-12">
      <div class="support-title support-card-title">{{ i.sort }}. </br> {{i.title }}</div>
      <p>{{ i.content }}</p>
    </div>
    <div class="col-support-logo col-md-3 col-xs-12">
      <p>{{ data.logo_intro }}</p>
      <div ng-repeat="i in data.logo">
        <%= image_tag("/assets/support/{{ i }}.svg", class: 'img-responsive img-support-logo') %>
      </div>
    </div>
  </div>
</section>
