// reset

html {
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  color: black;
}

.page-title,
h1 {
  line-height: rem-calc(24);
  text-transform: uppercase;
  font-weight: 900;
}

h2 {
  line-height: rem-calc(24);
  font-weight: 900;
}

h3 {
  font-weight: 600;
}

h4 {
  font-weight: 600;
}

h5 {
  display: inline-block;
  position: relative;
  line-height: rem-calc(18);
  font-size: rem-calc(16);

  &:after {
    position: absolute;
    top: 18px;
    left: 0;
    content: '';
    width: 35%;
    height: 1px;
    //background-color: $red;
  }
}
// Links
// -------------------------

a {
  //color: $link-color;
  text-decoration: none;
}

a:focus,
a:hover {
  //color: $link-hover-color;
  text-decoration: none;
}

.small,
small {
  font-size: $font-size-sm;
}

pre {
  padding: 0;
}

p {
  font-size: rem-calc($font-size-base);
  font-family: $font-family-serif;
  line-height: rem-calc(24);

  &.intro,
  .intro {
    font-size: rem-calc(16);
    line-height: rem-calc(24);
    margin: 1.038em 0 30px;
  }
}

dt {
  color: $black-light;
  font-family: $font-family-serif;
}

dd {
  color: $red;
  font-weight: 700;
  margin-bottom: 20px;
}

aside > footer > .btn {
  font-weight: 700;

  &:hover {
    background-color: $red;
  }
}

td[id^="datepicker"] > .btn {
    border: None;
}

#loginModal p, .invoice-payment{
  font-family: $font-family-sans-serif !important;
}

//
// -------------------------

.col-0 {
  clear: left;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter > [class*="col"] {
  padding: 0;
}
/* centered columns styles */
.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: black;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: black;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: black;
}
// .ng-hide-remove-active {
//   -webkit-transition:0.5s linear all;
//    transition:0.5s linear all;
// }
// only for main content
#content-main{
  padding: 0 32px;
}

#content-main.ng-enter,
#content-main.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  @include transition(all 0.7s ease-in-out);
}

[ui-view].ng-enter {
  opacity: 0;
  // -webkit-transform:scale3d(0.5, 0.5, 0.5);
  // -moz-transform:scale3d(0.5, 0.5, 0.5);
  // transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  // -webkit-transform:scale3d(1, 1, 1);
  // -moz-transform:scale3d(1, 1, 1);
  // transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  /*padding-left: 0px;*/
  // -webkit-transform:translate3d(0, 0, 0);
  // -moz-transform:translate3d(0, 0, 0);
  // transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  /*padding-left: 100px;*/
  // -webkit-transform:translate3d(100px, 0, 0);
  // -moz-transform:translate3d(100px, 0, 0);
  // transform:translate3d(100px, 0, 0);
}

.ng-cloak,
.x-ng-cloak,
[data-ng-cloak],
[ng-cloak],
[ng\:cloak],
[x-ng-cloak] {
  display: none !important;
}
