@media screen and (max-width: $screen-sm-min) {
  .modal-dialog {
    top: 0;
  }

  .modal-header {
    .modal-logo {
      display: none;
    }
  }

  .about-fablab {
    .about-title {
      font-size: rem-calc(30);
      line-height: rem-calc(28);
      text-align: center;
    }

    .about-picture {
      padding: 70px 0;
      height: 226px;
    }
  }
  // fix for full-calendar display on small devices
  .fc-toolbar {
    margin-bottom: 2.5em !important;
  }
}
@media screen and (max-width: $screen-md-min) {
  .heading {
    .heading-title {
      h1 {
        font-size: rem-calc(16);
        margin: 0;
        padding: calc((50px - 1.6em) / 2);
      }

      .heading-actions {
        float: right;
      }

      display: flex;
      flex-flow: row;
      align-items: baseline;
      justify-content: space-between;
      height: 50px; 
    }

    .heading-btn {
      a {
        font-size: rem-calc(16);
        margin-left: 50%;
        padding: calc((50px - 1.6em) / 2);
      }

      height: 50px;
    }

    .heading-actions {
        height: initial;
    }
  }

  .calendar-container {
    position: absolute; 
    top: 100px; 
    left: 0; 
    overflow: scroll;
    width: 100vw; 
    height: calc(100vh - 100px); 
    border: 5px solid green;
  }

  .calendar-wrapper {
    height: 100%;
  }

  .public-calendar {
    width: 600px;
  }

  .m-t-xxl-on-md {
    margin-top: 60px;
  }

  .m-t-3xl-on-md {
    margin-top: 80px;
  }

  .m-t-4xl-on-md {
    margin-top: 100px;
  }
}
