.infographie {
  width: 100%;
  padding: 20px;
}

#loginModal p, .invoice-payment{
  font-family: $font-family-sans-serif !important;
}

.btn-danger:hover {
	background-color: #f2f2f2;
}

.bg-red {
  background-color: $red;
  color: white;
}
