@font-face {
  font-family: 'Noe Display';
  src: url(asset-path('fonts/Noe Display Black.otf'));
}

@font-face {
  font-family: 'GT Pressura';
  src: url(asset-path('fonts/GTPressura-Bold.otf'));
}

.infographie {
  width: 100%;
  padding: 20px;
  background-color: $green-light;
}

.infographie-title{
  text-align: center;
  font-family: $font-family-serif;
  background-color: $green-light;
  color: $red;
  font-size: 20pt;
  margin: 0;
  padding: 30px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: black;
}

h4 {
  font-weight: 600;
}

p {
  font-family: $font-family-serif;
}

a {
  color: $blue;
  &:hover,
  &:active{
    color: $blue;
  }
}

body {
  font-family: $font-family-sans-serif;
}

dt {
  font-family: $font-family-sans-serif;
}

dd {
  color: $red;
  font-weight: 700;
}

.footer > .btn {
  background-color: $red;

  &:hover {
    background-color: $blue;
    color: white;
  }
}

td[id^="datepicker"] > .btn {
  border: None;
  background-color: white;
  color: $blue;

  &:active,
  &:hover {
    background-color: $blue;
    color: white;
  }
}

#loginModal p,
.invoice-payment {
  font-family: $font-family-sans-serif !important;
}

.btn {
  background-color: $blue;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: $blue;

  > i {
    &.pull-right {
      border: None;
    }
  }

  &:active,
  &:focus,
  &:hover {
    background-color: white;
    color: $blue;
  }
}

.btn-sm {
  border: None;
}
// div[id^="s"][id$="0"]

.btn-warning-full {
  &:hover {
    background-color: transparent;
  }
}

.btn-valid {
  border: 3px solid $green-light !important;
  background-color: $green-light !important;
  color: $blue;
  font-weight: 600;

  &:hover {
    border: 3px solid $green !important;
    background-color: $green !important;
    font-weight: 600;
  }
}

.btn-danger:hover {
  background-color: #f2f2f2;
}

.text-green-light {
  color: $green-light !important;
}

.bg-red {
  background-color: $red-light;
  color: white;
}

.picto-about{
  height: 40px;
}

.about-link{
  padding: 16.5px !important;
}

.widget {
  h1,
  h2,
  h3 {
    color: $blue;
  }

  a {
    color: $gray-darker;
  }

  .fa {
    color: $blue;
  }
}

.article {
  h4 {
    color: $blue;
  }
}

a.label:hover, a.label:focus {
  color: $green-light;
  background-color: $green !important;
}

.label {
  color: $blue;
}

.pricing-panel {
  .title {
    color: $blue;

    .content {
      .wrap {
        border: 3px solid;
      }
    }
  }
}

.form-control {
  color: $blue;
  font-family: $font-family-sans-serif;

  &:focus {
    border-color: $blue;
    box-shadow: 0 0 8px $blue;
  }
}

.input-group-addon{
  color: $blue;
}

.content {
  .wrap {
    border: 3px solid;
  }
}

.about-fablab .about-title {
  color: $blue;
  font-family: $font-family-serif;
  text-align: center;
  letter-spacing: 1pt;
  font-size: 40pt;
  line-height: 50pt;
}

.about-fablab {
  background-color: white;
  padding: 10px;

  p {
    color: $blue;
    font-family: $font-family-sans-serif;
  }

  a {
    color: $red;
  }

  .about-title-aside {
    font-family: $font-family-sans-serif;
  }

  .about-content {
    background-color: white;
  }
}

.header {
  > .btn-toolbar {
    margin-top: 14px;
  }
}

.aside-md {
  background-color: $red-light;
}

.modal-content {
  color: $blue;
}

.modal-header {
  background-color: $green-light;

  .modal-logo {
    top: 0;
    position: static;
    display: block;
    margin: 20px auto;
    max-height: 90px;
  }

  h1 {
    color: $blue;
  }
}

.notification-open {
  a {
    .fa {
      color: $blue;
    }
  }
}

.about-logo {
  position: relative;
  top: -120px;
  width: 100%;
}

.img-fg {
  z-index: 1025;
  margin: 25px;
}

.img-tl {
  position: relative;
  top: -64px;
  left: 0;
}

.img-tr {
  top: 0;
  right: 0;
}

.img-bl {
  position: relative;
  left: 0;
  height: 40px;
  margin: 0 16px 0 0;
}

.img-br {
  position: fixed;
  bottom: 0;
  right: 0;
}

.img-fl {
  width: 48px;
}

.img-social{
    margin: 0;
}

.img-perceuse{
  width: 208px;
  height: auto;
  margin-left: 50px;
}

.img-txt {
  height: 16px;
}

.navbar-brand{
  padding: 0;
}
.header {
  &.navbar {
    // position: relative;
  }
}

.home {
  color: $red;
  font-size: 20pt;
  line-height: 22pt;
  z-index: 1025;
  text-align: center;
}

.home-top{
  position: relative;
  top: -174px;
  letter-spacing: 1pt;
}

.home-left{
    transform: rotate(-90deg);
    width: 201px;
    letter-spacing: 1pt;
  }

.home-right{
    transform: rotate(90deg);
    width: 238px;
    position: fixed;
    right: -50px;
    letter-spacing: 1pt;
  }

.home-center{
  margin-top: 16px;
}
.home-title{
  font-family: $font-family-serif;
  font-size: 48pt;
  line-height: 40pt;
  letter-spacing: 1pt;
}

.home-content p{
  font-family: $font-family-sans-serif;
  line-height: 15pt;
}

.container-home, .col-home{
  padding: 0;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 25px;
}

.about-link {
  .label {
    padding: 10px 10px 0;
  }
}
// nav
@media (max-width: 767px) {
  .btn {
    border: None;
  }

  .nav-off-screen {
    + * {
      background-color: $red-light;
    }
  }
}

#nav {
  .nav {
    background-color: $red-light;

    > li {
      > a {
        color: $blue;

        &.active,
        &:focus,
        &:hover {
          background-color: white;
          color: $blue;
        }
      }
    }
  }
}

.nav > li > a:focus {
  background-color: $green-light;
}

.navbar-header > .btn {
  color: $blue;
  background-color: transparent;
}

.dropdown-menu > li > a {
  color: $blue;
}
// Responsive
@media screen and (max-width: $screen-sm-min) {
  .img-tl {
    position: fixed;
    top: 0px;
  }

  .img-fg{
    margin: 25px;
  }

  .footer {
    padding: 25px;
  }

  .img-fl{
    height: 50px;
  }

  .img-bl{
    height: 32px;
    margin: 0 16px 0 0;
  }
  .about-contact{

  }
  .about-logo{
    top: 0;
    padding: 30px 0;
  }
}
// utilities

.wrapper {
  padding: 32px 15px;
}

.rounded {
  background-color: $blue;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: $blue !important;
   opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $blue !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: $blue !important;
}
